{% extends "./base.html.twig" %} {% block title %}21{% endblock %} {% block
body%}

<h1>21</h1>

<p>Information om spelet 21...</p>
<p><a href="{{ path('game_run') }}?init=1" class="button">Starta spelet</a></p>

{% endblock %}
