@import url("navbar.css");
@import url("variables.css");
@import url("typography.css");
@import url("two-column.css");
@import url("flash.css");
@import url("button.css");
@import url("api.css");
@import url("table.css");
@import url("card5.css");

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 0px;
}

body {
    margin: 0px auto;
    padding: 0;
    background-color: var(--site-backround-color);
    font-family: var(--font-family);
}

main {
    margin: 0 auto;
    padding: 0 25px;
    max-width: 900px;
}

img {
    display: block; /* Ensures images are displayed as block-level elements */
    max-width: 100%; /* Ensures images don't exceed their parent container's width */
    height: auto; /* Allows images to maintain their aspect ratio when resizing */
    margin: 0 auto;
    border-radius: 23px;
    border: 1px dashed var(--primary-color);
}

/* Footer Styling */
footer {
    margin-top: 100px;
}
