.hearts, .clubs, .spades, .diamonds, .card-back {
    font-size: 95px;
}

.hearts, .diamonds {
    color: var(--heart-diamond);
}

.spades, .clubs {
    color: var(--clove-spade);
}

.card-back {
    color: var(--card-back);
}

.interactive-card {
    cursor: pointer;
    display: inline-block;
}

.card-deck {
    list-style: none;
}

.interactive-card.highlighted {
    transform: translateY(-8px)
}

button[value="check"], button[value="bet"], button[value="call"], button[value="stand_pat"], button[value="swap"] {
    background-color: var(--primary-color);
    color: white;
    font-size: 1em;
    font-family: var(--font-family-sans);
    border: none;
    padding: 10px;
}


button[value="fold"] {
    background-color: var(--danger-color);
    color: white;
    font-size: 1em;
    font-family: var(--font-family-sans);
    border: none;
    padding: 10px;
}

button[value="computer_turn"] {
    background-color: var(--secondary-color); 
    color: white;
    font-size: 1em;
    font-family: var(--font-family-sans);
    border: none;
    padding: 10px;
}
