{% extends "./base.html.twig" %} {% block title %}Card deck draw{% endblock %} {% block
body%}

<h1>Card deck draw</h1>

<p>
    <span>{{ suit }}</span> <span>{{ rank }}</span>
</p>

<p>Number of cards in deck: {{ number_of_cards }}</p>

{% endblock %}
