/* Button Styling*/

/* Buttons styling for 21 Game */
.game-button {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-family: var(--font-family);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.game-button:hover {
    background-color: var(--secondary-color);
}
