.hearts, .clubs, .spades, .diamonds, .card-back {
    font-size: 72px;
}

.hearts, .diamonds {
    color: red;
}

.spades, .clubs {
    color: black;
}

.interactive-card {
    cursor: pointer;
    display: inline-block;
}

.interactive-card.highlighted {
    transform: translateY(-8px)
}