{% extends "base.html.twig" %} {% block title %}Home{% endblock %} {% block body
%}
<h1>Min me-sida i kursen MVC</h1>

<img
    src="{{ asset('img/bella.jpg') }}"
    alt="Bild på Bella"
    style="width: 50%; float: right; margin: 0 0 20px 20px;"
/>

<p>
    <span id="greeting"></span>, mitt namn är Isabel. Född och uppväxt "söder om
    söder" i Stockholm (Farsta Strand). På gymnasiet studera jag mediaprogrammet
    på MediaGymnasiet i Nacka Strand. Där fick vi prova på olika mediatekniker
    som t ex webbprogrammering. Dessvärre tyckte jag det var något av de
    tråkigaste och det slutade med att min huvudinriktining blev grafisk design
    och formgivning med en släng film och tv-produktion.
</p>

<p>
    Kort efter gymnasiet, möter man kärleken och lämnar storstaden för småstaden
    Hudiksvall. Utan kontakter och utbildning har det varit svårt att få jobb.
    Efter några år som hemmafru väcktes lusten att läsa upp betyg och börja
    studera igen. Och det är på den banan man nu är.
</p>

<p>
    Mina hobbyn inkluderar skönhet och hälsa, och jag driver en skönhetsblogg
    med fokus på hudvård sen flera år tillbaka. Jag gillar att hålla mig aktiv
    och se nya platser. Varje år går jag och min partner med i
    HittaUt-utmaningen (amatörsorientering) och försöker göra det så fort som
    möjligt innan myggen och fästingar kläcks. När jag reser föredrar jag att
    åka till varma tropiska ställen framför cityresor. Men eftersom jag gillar
    att se nya platser som sagt, så blir det sällan tid för att ligga vid
    stranden/poolen då jag helst åker omkring och ser så många platser som man
    kan hinna med.
</p>

{% endblock %}
