{% extends "base.html.twig" %} {% block title %}Report{% endblock %} {% block
body %}
<h1>Reports</h1>

<div class="navbar-report">
    <ul>
        <li><a href="#kmom01">Kmom01</a></li>
        <li><a href="#kmom02">Kmom02</a></li>
        <li><a href="#kmom03">Kmom03</a></li>
        <li><a href="#kmom04">Kmom04</a></li>
    </ul>
</div>
<h2 id="kmom01">Kmom01</h2>
<p>...</p>
<h2 id="kmom02">Kmom02</h2>
<p>...</p>
<h2 id="kmom03">Kmom03</h2>
<p>...</p>
<h2 id="kmom04">Kmom04</h2>
<p>...</p>
{% endblock %}