{% extends '/project/proj_base.html.twig' %}

{% block title %}Project Kmom10{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Projekt: 5-kortspoker</h1>

    <p><a href="{{ path('project_game') }}">Starta</a></p>
</div>
{% endblock %}
