{% extends 'base.html.twig' %}

{% block title %}Project Kmom10{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Project: Black Jack</h1>

    <p>Lite text kommer snart...</p>
</div>
{% endblock %}
