{% extends '/project/proj_base.html.twig' %}

{% block title %}Project Kmom10{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Redovisning</h1>
    <p>Välkommen till mitt femkortspokerprojekt! 
    Detta projekt är en del av min kurs i webbutveckling där vi byggt vidare på de kunskaper vi lärt oss med PHP-ramverket Symfony. 
    Syftet med detta projekt är att skapa en interaktiv och användarvänlig pokerspelssida där användare kan spela femkortspoker mot en dator.</p>
</div>
{% endblock %}
